{% extends "Users/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
<div class="fh5co-overlay"></div>
<div class="fh5co-cover-text">
    <div class="container">
        <div class="row">
            <div class="col-md-push-6 col-md-6 full-height js-full-height">
                <div class="fh5co-cover-intro">
                    <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Perfil de <em>@{{ user.username }} </em></h1>
                    <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                        <a class="btn-sm outline-primary">{{ mensaje }}</a>
                        <div class="profile">
                            <img src="{{user.profile.image.url }}">
						<img src='{{ request.user.imagen.url }}' alt="{{ request.user.username }}"
                        class="circle responsive-img valign profile-image">
                    </h2>
                </div>
            </div>
        </div>
    </div>	
</div>
</div>
{% endblock %}