{% extends 'Users/padre.html' %}

{% load static %}

{% block titulo_que_cambia %}
    <h1 class="title">{{ post.titulo }}</h1>

    <small>Publicado el {{ post.fecha }}</small>

    <p><strong>{{ post.intro }}</strong></p>

    <p>{{ post.cuerpo }}</p>

    <hr>
    
    <h2 class="subtitle">Comentarios</h2>

    {% for comentario in post.comentarios.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comentario.nombre }}</strong> <small>{{ comentario.fecha }}</small>
                        <br>
                        {{ comentario.cuerpo }}
                    </p>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="notificaion">
            <p>Sin comentarios</p>
        </div>
    {% endfor %}
    
    <hr>

    <h2 class="subtitle">Agregar comentario</h2>

    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button style= color:black type="submit" class="post" id="" >Publicar</button>
    </form>
{% endblock %}